<%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
%>
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="description" content="<%- config.subtitle %>" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="<%- config.root %>css/component.css" />
  <link rel="stylesheet" type="text/css" href="<%- config.root %>css/screen.css" />
  <meta name="generator" content="<%- config.title %>">
  <script src="http://static.duoshuo.com/embed.js"></script>
  <% if (config.rss) { %>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="<%- config.rss %>">
  <% } %>
  <% if (config.feed && config.feed.type == 'atom') { %>
  <link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="<%- config.feed.path %>">
  <% } %>
  <% if (config.feed && config.feed.type == 'rss') { %>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="<%- config.feed.path %>">
  <% } %>

  <% if (config.cloudfrontanalytics) { %>
  <script type="text/javascript">
    var analytics=analytics||[];(function(){var e=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group"],t=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var n=0;n<e.length;n++)analytics[e[n]]=t(e[n])})(),analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)};
    analytics.load("uj8ix0aatc");
  </script>
  <% } %>

</head>
<body>
<div class="container">
    <div class="mp-pusher" id="mp-pusher">
        <i id="scroll-up" class="fa fa-angle-up"></i>
        <nav id="mp-menu" class="mp-menu">
            <div class="mp-level">
                <a data-pjax class="back-home" style="font-size: 20px" href="<%- config.root %>"><h2 ><i class="fa fa-home"></i>
                        Home</h2></a>
                <ul class="first-level">
                    <li>
                        <a class="fa fa-archive" href="#"><i class="fa fa-angle-left">
                            </i>&nbsp;&nbsp;Archive</a>
                        <div class="mp-level page-list">
                            <h2 ><i class="fa fa-archive"></i>
                                Archive</h2>
                            <a class="mp-back" href="#">back</a>
                            <form id="search-form" action="">
                                <input type="text" class="search search-archive" placeholder="Search.."/>
                            </form>
                            <ul>
                                <div class="mp-scroll">
                                <% site.posts.sort('date', -1).each(function(post){ %>
                                <li class="search-archive-li mp-pjax">
                                    <a href="<%= config.root %><%= post.path %>"><%= post.title %></a>
                                </li>
                                <% }); %>
                                </div>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="fa fa-copy" href="#"><i class="fa fa-angle-left">
                            </i>&nbsp;&nbsp;Categories</a>

                        <div class="mp-level page-list">
                            <h2 ><i class="fa fa-copy"></i>
                                Categories</h2>
                            <a class="mp-back" href="#">back</a>
                            <form id="search-form" action="">
                                <input type="text" class="search search-category" placeholder="Search.."/>
                            </form>
                            <ul>
                                <div class="mp-scroll">
                                <% site.categories.sort('name').each(function(item){ %>
                                <li class="search-category-li mp-pjax">
                                    <a href="<%- config.root %><%- item.path %>">&nbsp;&nbsp;&nbsp;<%= item.name %></a>
                                    <small><%= item.posts.length %></small>
                                </li>
                                <% }); %>
                                </div>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="fa fa-tags" href="#"><i class="fa fa-angle-left">
                            </i>&nbsp;&nbsp;Tags</a>
                        <div class="mp-level page-list">
                            <h2 ><i class="fa fa-tags"></i>
                                Tags</h2>
                            <a class="mp-back" href="#">back</a>
                            <form id="search-form" action="">
                                <input type="text" class="search search-tag" placeholder="Search.."/>
                            </form>
                            <ul>
                                <div class="mp-scroll">
                                <% site.tags.sort('name').each(function(item){ %>
                                <li class="search-tag-li mp-pjax">
                                    <a href="<%- config.root %><%- item.path %>">&nbsp;&nbsp;&nbsp;<%= item.name %></a>
                                    <small><%= item.posts.length %></small>
                                </li>
                                <% }); %>
                                </div>
                            </ul>
                        </div>
                    </li>
                    <% if (theme.weibo_show) { %>
                    <li>
                        <a class="fa fa-weibo" href="#"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;Weibo Show</a>

                        <div class="mp-level page-list">
                            <h2 ><i class="fa fa-weibo"></i>
                                Weibo Show</h2>
                            <a class="mp-back" href="#">back</a>
                        </div>
                    </li>
                    <% } %>
                    <li class="mp-pjax"><a class="fa fa-user" href="<%= config.root %>about">&nbsp;&nbsp;&nbsp;About me</a></li>
                    <li><a class="fa fa-github" href="#">&nbsp;&nbsp;&nbsp;Github</a></li>

                </ul>

            </div>
        </nav>
        <div id="pjax">
            <div class="pjax-hidden" style="display: none">
                <% site.posts.sort('date', -1).each(function(post){ %>
                    <a  data-pjax href="<%= config.root %><%= post.path %>"><%= post.title %></a>
                <% }); %>
                <% site.categories.sort('name').each(function(item){ %>
                    <a data-pjax href="<%- config.root %><%- item.path %>">&nbsp;&nbsp;<%= item.name %></a>
                <% }); %>
                <% site.tags.sort('name').each(function(item){ %>
                    <a data-pjax href="<%- config.root %><%- item.path %>">&nbsp;&nbsp;<%= item.name %></a>
                <% }); %>
                <a data-pjax class="fa fa-user" href="<%= config.root %>about">&nbsp;&nbsp;&nbsp;About me</a>
            </div>
            <nav class="nexus">
                <li  style="border-left: 1px solid #c6d0da;">
                    <a id="trigger" href="#"><i class="fa fa-bars"></i></a>
                </li>
                <li ><a id="nexus-back" data-pjax href="<%- config.root %>"><%= config.title %></a></li>
                <% if (theme.scroll_spy) { %>
                <div id="nav-container">
                    <div class="post-navbar" style="line-height: 63px;display:none">
                        <li id="navbar-title"><a href="#"><%= page.title%></a></li>
                        <li id="navbar-toc" style="border-left: none">
                            <a style="padding-right: 15px">
                                <span id="toc-content" >Introduction</span><i class="fa fa-chevron-down" ></i>
                            </a>
                            <div class="hidden-box">
                                <ul id="toc"></ul>
                            </div>
                        </li>
                    </div>
                </div>
                <% } %>
            </nav>

            <div class="scroller">
            <div class="scroller-inner">

